.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 60px;
    box-shadow: 0 1px 3px -2px #000;
    background: white;
}
.navbar p{
    font-family: Poppins;
    letter-spacing: .3rem;
    font-weight: 600;
    font-size: larger;
}
.nav-profile{
    width: 35px;
    border-radius: 50px;
}

@media(max-width:800px){
    .navbar{
        padding: 2px 45px;
    }
    .navbar p{
        letter-spacing: .2rem;
        font-size: large;
    }
    .nav-profile{
        width: 40px;
    }
}
@media(max-width:600px){
    .navbar{
        padding: 1px 30px;
    }
    .navbar p{
        letter-spacing: .1rem;
        font-size: medium;
    }
    .nav-profile{
        width: 30px;
    }
}