.sidebar{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 20px;
    width: 100%;
    max-width: 250px;
    height: 100vh;
    background: rgb(232, 232, 232);
}
.sidebar-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
    padding: 5px 10px;
    border-radius: 6px;
    background: white;
    gap: 20px;
    cursor: pointer;
}

@media(max-width:800px){
    .sidebar{
        padding: 20px 0px;
        flex-direction: row;
        width: 100%;
        max-width: none;
        height: auto;
        justify-content: center;
    
    }
    .sidebar-item{
        padding: 2px 15px;
        margin: 0px;
    }
}

@media(max-width:600px){
    .sidebar{
        padding: 20px 0px;
        flex-direction: row;
        width: 100%;
        max-width: none;
        height: auto;
        justify-content: center;
    
    }
    .sidebar-item{
        padding: 2px 7px;
        margin: 0px;
    }
    .sidebar-item p{
        font-size: medium;
    }
    .sidebar-item .icon{
        height: 25px;
    }
}